<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Card</title>
  <link rel="stylesheet" href="./base.css" />
  <link rel="stylesheet" href="./styles.css" />
</head>
<body>
  <div class="product-list">
    <product-card
      img="./assets/sku-MX442.png"
      title="Beats Studio Pro"
      price="349.99"
      tags='["USB C","Noise Cancelling","Transparency Mode"]'>
    </product-card>
  </div>
  <script type="module" src="app.js"></script>
</body>
</html>
